<template name="join">
	<div class="span3">
		{{#unless isInRoomFirst}}
		<h2>Let's begin!</h2>
		<p>We are going to work together. Paste a writing sample you would like to work on together. Don't worry no one will know it is your paper. </p>
		 {{/unless}}
	</div>
	<div class="span9">
		{{#constant}}
			Enter your name: <input type="text" id="username" ></input>
			{{#unless isInRoomFirst}}
		    	<textarea class="span12" rows="20" placeholder="copy-paste or type text you would like to work on here..."></textarea>
		    {{/unless}}
		    <span class="row">
		    	<button id = 'join' class="btn btn-large btn-new">
		    		{{#if isInRoomFirst}} Create room {{/if}}
		    		{{#unless isInRoomFirst}}Join others {{/unless}}<i class=" icon-arrow-right"></i></button>
			</span>
		{{/constant}}
	</div>
</template>

