<template name="lobby">
  <h1>Welcome {{user.name}}!</h1>

	<ul>
	  {{#each users}}
        <li >  
          {{#if isAdmin }}<i class="icon-flag"></i>{{/if}}
          {{name}}
          {{#if user.isAdmin }}{{#unless isAdmin }}<button class ="boot">boot</button>{{/unless}}{{/if}}
        </li>
    {{/each}}
  </ul>

  {{#if user.isAdmin }}

    {{#constant}}
      <select>
        <option value="" style="display:none;"></option>
        {{#each workbooks}}
          <option value="{{workbookSlug}}">{{workbookSlug}}</option>
        {{/each}}
      </select>
    {{/constant}}

    <button id ="start">Start</button>


  {{/if}}
  
  
  
</template>