<template name="panel">
  <h1>Control Panel</h1>

  <p> First select a workbook. Hit stop when you want to show the results page</p>
  {{#constant}}
    <select class = "workbook">
      <option value="" style="display:none;"></option>
      {{#each workbooks}}
        <option value="{{workbookSlug}}">{{workbookSlug}}</option>
      {{/each}}
    </select>
  {{/constant}}
  <hr>

  <hr>
  <button id = 'stop'> STOP </button>

  <hr>


  <div class="row-fluid">
    <div class="span6 selector">
      <h1>Users</h1>
      <ul>
        {{#each users}}
            <li>{{this.name}} <button class = "boot">boot</button></li>
        {{/each}}
      </ul>
    </div>
    <div class="span6 selected">
        <h1> Activity List</h1>
        <ul>
          {{#each activities}}
              <li>{{this.structure.structureSlug}} created by {{this.userId}}</li>
          {{/each}}
        </ul>
    </div>
  </div>

  
 
  
</template>


