<template name="workbook">
	workbook name:

	<input type="text"><button class="btn btn-large btn-new btn-newline" id="load">LOAD</button>

	{{#if workbookSlug}}
		<hr>
		<button class="btn btn-new btn-default" id="add">+ Add Activity</button>
		<hr>
		{{workbookSlug }}

		<ul>
			{{#each structures}}
				<li>
					{{prettyPrintStructure structureSlug}}
					<button class = "btn btn-mini edit" data-id = "{{_id}}">edit</button>
					<button class = "btn btn-mini btn-danger remove" data-id = "{{_id}}">remove</button>
					-
					{{json this}}
				</li>
			{{/each}}
		</ul>
	{{/if}}

</template>
